@model IEnumerable<Library.Models.BookModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Available Books</h1>

@if (User.IsInRole("Admin"))
{
	<p>
		<a asp-action="Create">Add a new book to the library</a>
	</p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
	        <td>
	        @if (User.IsInRole("Admin"))
	        {
		        @Html.ActionLink("Edit", "Edit", new { id = item.Idbook })
                <text> | </text>
	        }
	        @Html.ActionLink("Details", "Details", new { id = item.Idbook })
	        @if (User.IsInRole("Admin"))
	        {
                <text> | </text>
		        @Html.ActionLink("Delete", "Delete", new { id = item.Idbook })
	        }
	        </td>
        </tr>
}
    </tbody>
</table>
