@model IEnumerable<Library.Models.LoanModel>

@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Member loans</h1>

<table class="table">
	<thead>
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.Member.Name)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Member.Email)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Book.Title)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Book.Author)
		</th>
		<th></th>
	</tr>
	</thead>
	<tbody>
	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Member.Name)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Member.Email)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Book.Title)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Book.Author)
			</td>
			<td>
				@Html.ActionLink("Delete", "Delete", new { id = item.Idloan })
			</td>
		</tr>
	}
	</tbody>
</table>